* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #2c7be5;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#Medicines:hover ~ #medicine-box {
  display: block;
}

#medicine-box {
  height: 150px;
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 270px;
  display: none;
}

button {
  height: 25px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #2268c4;
}

.search {
  padding: 7px;
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

a:hover {
  border-bottom: 2px solid white;
}

#medicine {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f6f9;
  /* overflow-x: auto; */
  /* scroll-behavior: smooth; */
}
#medicine::-webkit-scrollbar {
  display: none;
}

.box {
  height: 130px;
  min-width: 130px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-left: 10px;
  background: cover, no-repeat, fixed;
}
.box-img {
  height: 130px;
  min-width: 130px;
  border-radius: 10px;
}

#left-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 150px;
  left: 10px;
}

#right-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 1070px;
  top: -120px;
}

h3 {
  margin-left: 10px;
}
/*slider code */
#slider {
  height: 250px;
  width: 98%;
  border: none;
  background-color: none;
  background-size: cover;
  margin-left: 10px;
  margin-top: 10px;
}
/* slider image  */
.img {
  height: 250px;
  width: 100%;
}

/* slider prev btn */
#prev {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 160px;
  height: 50px;
  left: 30px;
  width: 50px;
  border-radius: 50%;
}

/* slider next btn */
#next {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1050px;
  top: 160px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* slider code complete */

/* horizontial slider code  */

.slider {
  display: flex;
  align-items: center;
  overflow-x: auto;
  height: 200px;
  width: 100%;
  background-color: aqua;
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider-box {
  min-width: 400px;
  margin-left: 20px;
  height: 150px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.left-btn {
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  position: relative;
  top: 120px;
}

.right-btn {
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  position: relative;
  left: 1080px;
  top: -120px;
}

/* slider 2 css  */

#slider2 {
  width: 100%;
  height: 170px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 10px;
}
#slider2::-webkit-scrollbar {
  display: none;
}
.slider2-box {
  height: 130px;
  min-width: 130px;
  background-color: bisque;
  border-radius: 20px;
  margin-left: 10px;
  background: cover, no-repeat, fixed;
}
.slider2-box img {
  height: 130px;
  min-width: 130px;
}

#slider2-btnleft {
  height: 50px;
  width: 50px;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 130px;
  left: -40px;
}
#slider2-btnright {
  height: 50px;
  width: 50px;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 1070px;
  top: -110px;
}
