* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #2c7be5;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
button {
  height: 25px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #2268c4;
}
.search {
  padding: 7px;
  border: none;
  border-radius: 5px;
}
a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
